<section id="about"><h2>Log In</h2><hr></section><br>
<div ng-controller="LoginCtrl" layout="column" ng-submit="loginForm.$valid && sendLogin(login)" ng-cloak>
    <md-content layout-padding>
        <form name="loginForm" id="login-form">

            <md-input-container class="md-block"">
                <label>Email</label>
                <input type="text" name="email" ng-model="login.email" required>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" name="password" ng-model="login.password" required>
            </md-input-container>
            <md-button class="btn1 md-raised" type="submit">Login</button>
        </form>
    </md-content>
</div>
<footer>&nbsp;&nbsp;© 2016 CALLING CARD</footer>