<br>
<div>
  <p><img src="https://s8.postimg.org/8pkfwdiut/female_hand_holding_card.jpg"></img>
</div>
<footer>&nbsp;&nbsp;© 2016 CALLING CARD</footer>

<!-- <section id="home">
    <div class='col-xs-12'>
        <h3>&nbsp;&nbsp;Quotes</h3>
        <div class="row">
            <div ng-repeat="quote in quotes">
                <div class="col-sm-4">
                    <h5>{{ quote.author }}</a></h5>
                    <ul class="list-inline">
                        <li ng-repeat="tag in product.tags" ng-click="setCategory(tag)"><a href="#">{{tag}}</a></li>
                    </ul>
                    big search bar to search by keyword/author/tags
                </div>
            </div>
        </div>
    </div>
</section>
 -->
<!-- <br>
<div ng-controller="QuotesController as ctrl" layout="column" ng-cloak>
  <md-content class="md-padding">
    <form ng-submit="submit()">
      <md-autocomplete
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedItem"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(item)"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.display"
          md-min-length="0"
          placeholder="What are you looking for today?">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          No quotes matching "{{ctrl.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>
      <md-button class="btn1" ui-sref="login">Search</md-button>
      <br/>
    </form>
  </md-content>
</div> -->